body {
    margin : 0;
    background-color :#272727;
}

#text{
    padding:1%;
    background-color: #272727;
    color : lightgray;
    height : 95%;
    width : 33%;
    max-width : 33%;
    float : left;
}

#image{
    background-color: 3A3A3A;
    margin-right : 1%;
    margin-top : 1%;
    height: 95%;
    width : 64%;
    float : right;
    text-align: center;
    align-items: center;
}

input { 
    padding: 1%; 
    width: 100%; 
    bottom : 0;
    background-color: #272727 ;
    border : 0; 
    position : fixed;
    color : white;
    float : left;
    outline: none;
}

.button-group .faible {
    display: inline-block;
    padding: 5px 15px;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: rgb(255, 0, 0);
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px rgb(84, 0, 0);
}
  
.button-group .faible:hover {
    background-color: rgb(114, 0, 0);
}

.button-group .faible:active {
    background-color: rgb(114, 0, 0);
    box-shadow: 0 5px rgb(73, 0, 0);
    transform: translateY(4px);
}

.button-group .forte {
    display: inline-block;
    padding: 5px 15px;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: rgb(0, 240, 0);
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px rgb(0, 69, 0);
}
  
.button-group .forte:hover {
    background-color: rgb(0, 99, 0);
}

.button-group .forte:active {
    background-color: rgb(0, 99, 0);
    box-shadow: 0 5px rgb(0, 58, 0);
    transform: translateY(4px);
}

.button-group .magie {
    display: inline-block;
    padding: 5px 15px;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: rgb(231, 227, 0);
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px rgb(115, 111, 0);
}
  
.button-group .magie:hover {
    background-color: rgb(135, 131, 0);
}

.button-group .magie:active {
    background-color: rgb(135, 131, 0);
    box-shadow: 0 5px rgb(84, 80, 0);
    transform: translateY(4px);
}

.button-group .fuir {
    display: inline-block;
    padding: 5px 15px;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: rgb(0, 0, 255);
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px rgb(0, 0, 84);
}
  
.button-group .fuir:hover {
    background-color: rgb(0, 0, 114);
}

.button-group .fuir:active {
    background-color: rgb(0, 0, 114);
    box-shadow: 0 5px rgb(0, 0, 73);
    transform: translateY(4px);
}

.button-group .rien {
    display: inline-block;
    padding: 5px 15px;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: rgb(0, 0, 255);
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px rgb(0, 0, 84);
}
  
.button-group .rien:hover {
    background-color: rgb(0, 0, 114);
}

.button-group .rien:active {
    background-color: rgb(0, 0, 114);
    box-shadow: 0 5px rgb(0, 0, 73);
    transform: translateY(4px);
}

.button-group .button {
    display: inline-block;
    padding: 5px 15px;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: lightgrey;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}
  
.button-group .button:hover {background-color: rgb(190, 190, 190)}

.button-group .button:active {
background-color: darkgrey;
box-shadow: 0 5px #666;
transform: translateY(4px);
}


#texte{
    height : 87% ;
    max-height : 87%;
    padding-left : 6%;
}

.button-group {
    text-align: center;
}

p{
    font-size : 17px;
}

h1{
    font-size : 22px;
}